<div class="jumbotron" id="front-page-jumbo">
	<div class='jumbotron-info col-md-12'>
		<div class='row'>
			
			<div class="col-md-2">
				<img src="/assets/brewklok-white-cropped.png" id="index-logo" class="col-md-3"></img>
			</div>
			<div class="col-md-10">
			  <h1>Welcome to Brewklok!</h1>
			  <p>Ready to brew some beer?</p>
			  <!-- <p><a href="<%= about_url %>" class="btn btn-primary btn-lg" role="button">Learn more</a></p> -->
			  <p><a href="<%= recipe_url(2) %>" class="btn btn-primary btn-lg" role="button">Test a brew!</a></p>
			</div>
		</div>
	</div>
</div>

<div class='container'>
	<h2>Recent Brews</h2>
	<% @recipes.each do |recipe| %>
		<h3><a href="<%= recipe_url(recipe) %>"><%= recipe.name %></a></h3>
		<p><%= recipe.notes %></p>
	<% end %>
</div>