<h2><%= @recipe.name %></h2>
<% if !@recipe.notes.nil? %>
	<h5><%= @recipe.notes %></h5>
<% end %>

<canvas id="myCanvas" width="1000" height="100"
style="border:1px solid #000000;">
</canvas>

<script>
var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
ctx.moveTo(0,50);
ctx.lineTo(1000,50);
ctx.stroke();

var markCanvas = function(time, name) {
	var ctx=c.getContext("2d");
	var xPos = 800 * (time/60);

	ctx.beginPath();
	ctx.arc(xPos + 100 ,50,10,0,2*Math.PI);

	ctx.stroke();
};
</script>

<h3>Ingredients</h3>
<% @recipe.ingredients.each do |ingredient| %>
	<div class="panel panel-default" id="ingredient<%=ingredient.id%>">
	  <div class="panel-heading"><%= ingredient.name %> <i onClick="editIngredient(event);" class="glyphicon glyphicon-edit" data-ingredientId=<%= ingredient.id %>></i></div>
	  <div class="panel-body">
	    <li><%= ingredient.amount %></li>
	    <li><%= ingredient.notes %></li>			
	  </div>
	</div>
<script>
	markCanvas(<%= ingredient.time %>, "<%= ingredient.name %>");

	var editIngredient = function(event) {
		alert("make it content editable!")
		// alert($(event.target).data('ingredientid'));
		$("#ingredient" + $(event.target).data('ingredientid')).append(window.JST['edit_ingredient']());
	}
</script>



<% end %>
