<div class='row'>
	<h2 class="col-md-6"><%= @recipe.name %>
		<a href="<%= run_recipe_url(@recipe) %>"><button class="btn btn-warning" >Brew!</button></a>
	</h2>
</div>
<% if !@recipe.notes.nil? %>
	<h5><%= @recipe.notes %></h5>
<% end %>

<canvas id="myCanvas" width="1000" height="100"
style="border:1px solid #000000;">
</canvas>

<script>initializeCanvas();</script>

<h3>Ingredients</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Time</th>
			<th>Ingredient</th>
			<th>Amount</th>
			<th>Notes</th>
		</tr>
	</thead>

	<tbody>
		<% @recipe.ingredients.each do |ingredient| %>
		<tr>
			<td><%= ingredient.time %></td>
			<td><%= ingredient.name %></td>
			<td><%= ingredient.amount %></td>
			<td><%= ingredient.notes %></td>
		</tr>
	
		<script>markCanvas(<%= ingredient.time %>, "<%= ingredient.name %>");</script>
		<% end %>
	</tbody>	
</table>
