<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_url%>"><img src='/assets/headline-transp.png' id='nav-img'></a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="<%= recipes_url %>">Browse Brews</a></li>
      <li><a href="<%= new_recipe_url %>">Add A Brew</a></li>
      <li><a href="<%= about_url %>">About</a></li>
      <% if logged_in?%>
				<li><%= link_to "Logout", session_url, method: :delete %></li>
			<% else %>
				<li><%= link_to "Login", new_session_url %></li>
			<% end %>
		</ul>
</nav>