<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <title>Brewklok</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<%= render partial: 'shared/navbar' %>
<body>
	<!-- <div class="container"> -->
		<%= current_user.username if logged_in? %>	
		<% if !flash[:errors].nil? %>
			<% flash[:errors].each do |error| %>
				<li><%= error %></li>
			<% end %>
		<% end %>

		<%= yield %>
	<!-- </div> -->
</body>
</html>
